<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.pushsoft.im2" ios-CFBundleVersion="1" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IM</name>
    <description>
        Pushsoft IM
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Pushsoft
    </author>
    <content src="index.html" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="InAppBrowserStorageEnabled" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="20000" />
    <preference name="FadeSplashScreen" value="false" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="mqqwpa://*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/icon-192-xxxhdpi.png" />
        <hook src="scripts/after_platform_add/copy_release_properties.js" type="after_platform_add" />
        <hook src="scripts/after_prepare/cordova-minify-v2.js" type="after_prepare" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="9.0" />
        <preference name="BackupWebStorage" value="local" />
        <preference name="InterceptRemoteRequests" value="all" />
        <preference name="NativeXHRLogging" value="full" />
        <preference name="HideKeyboardFormAccessoryBar" value="true" />
        <preference name="KeyboardShrinksView" value="true" />
        <preference name="DisableScrollingWhenKeyboardShrinksView" value="true" />
        <preference name="KeyboardDisplayRequiresUserAction" value="false" />
        <preference name="Suppresses3DTouchGesture" value="true" />
        <preference name="StatusBarStyle" value="blacktranslucent" />
        <custom-config-file mode="replace" parent="UISupportedInterfaceOrientations" target="*-Info.plist">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </custom-config-file>
        <custom-config-file mode="replace" parent="UISupportedInterfaceOrientations~ipad" target="*-Info.plist">
            <array>
                <string>UIInterfaceOrientationPortrait</string>
                <string>UIInterfaceOrientationLandscapeLeft</string>
                <string>UIInterfaceOrientationPortraitUpsideDown</string>
                <string>UIInterfaceOrientationLandscapeRight</string>
            </array>
        </custom-config-file>
        <custom-config-file mode="replace" parent="NSAppTransportSecurity" target="*-Info.plist">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true />
            </dict>
        </custom-config-file>
        <custom-config-file mode="replace" parent="CFBundleAllowMixedLocalizations" target="*-Info.plist">
            <true />
        </custom-config-file>
        <custom-config-file mode="replace" parent="CFBundleDevelopmentRegion" target="*-Info.plist">
            <string>zh_CN</string>
        </custom-config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationAlwaysUsageDescription">
            <string>需要访问地理位置</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
            <string>需要访问地理位置</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
            <string>需要访问通讯录</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>拍照传图需要访问相机</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>选择图片上传需要访问相册</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>需要存储图片到相册</string>
        </edit-config>
        <icon height="20" src="res/icon/ios/icon-20.png" width="20" />
        <icon height="40" src="res/icon/ios/icon-20@2x.png" width="40" />
        <icon height="60" src="res/icon/ios/icon-20@3x.png" width="60" />
        <icon height="180" src="res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon/ios/icon-60.png" width="60" />
        <icon height="120" src="res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon/ios/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon/ios/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon/ios/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/icon/ios/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="167" src="res/icon/ios/icon-83.5@2x.png" width="167" />
        <icon height="29" src="res/icon/ios/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="50" src="res/icon/ios/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/icon-50@2x.png" width="100" />
        <icon height="1024" src="res/icon/ios/icon-1024.png" width="1024" />
        <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-sqlite-storage" spec="^2.3.1" />
    <engine name="android" spec="^7.0.0" />
</widget>
