.vscode
.vs
/build
bootstrap.*
classic.json*
modern.json*
packages/remote
packages/**/build
.xlsx
*.log
cordova/platforms/*
cordova/www/*
cordova/plugins/android.json
cordova/plugins/ios.json
cordova/package-lock.json
node_modules
/plugins
import.js