//# fashion warn -elevation

// Variables
// --------------------------

$im-mobile-css-prefix:       im-mobile !default;
$im-mobile-version:          "1.0.3" !default;

$im-mobile-var-backspace: "\e900";
$im-mobile-var-smile: "\e901";