.IMMobile-chat-container{
    .IMMobile-RecentChat{
        background: rgb(242,243,245);
        
        a.link-RecentUnRead{
            text-decoration: none;
        }
        
        .RecentUnRead{
            display: none;
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            -o-border-radius: 20%;
            border-radius: 20%;
            position: absolute;
            text-align: center;
            // color: #fff;
            overflow: hidden;
            height: 20px;
            width: 20px;
            line-height: 20px;
            background-color: #bd4107;
            top: 3px;
            left: 35px;
            font-family: cursive;
            color: #fff;
        }
        .RecentUnRead:before{
            content: attr(unRead);
            font-size: 10px;
        }
    }
}
