.rctChat{
    // 未读提示
    .wrapAva{
        float: left;

        a.link-RecentUnRead{
            text-decoration: none;
        }

        .RecentUnRead{
            display: none;
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            -o-border-radius: 20%;
            border-radius: 20%;
            position: absolute;
            text-align: center;
            // color: #fff;
            overflow: hidden;
            height: 18px;
            width: 18px;
            line-height: 18px;
            background-color: #bd4107;
            top: 3px;
            left: 35px;
            font-family: cursive;
            color: #fff;
        }
        .RecentUnRead:before{
            content: attr(unRead);
            font-size: 10px;
        }
    }

    // 最近会话时间及状态
    .evt {
        float: right;
        p{
            display: inline;
            margin: 0;
        }
    }

    // 最近会话展示名称
    .displayInfo {
        div {
            white-space:nowrap;
            cursor:default;
            overflow:hidden;
            text-overflow:ellipsis; 
        }  
    }
}