.details{
    // background: red;
    .company{
        font-size: 2.3em;
    }

    .org{
        font-size: 2em;
    }

    .personNum{
        font-size: 1.5em;
    }

    .detailBtn{
        margin-top: 50px;
        font-size: 1.5em;
    }

    .sendToName{

    }
    .phone{
        
    }
    .mobile{
        
    }
    .eMail{
        
    }
    .department{
        
    }
}