$left-tool-backgroundcolor: rgb(40,109,199);

.left_tool{
    .leftTool-avatar{
        margin: 10px 0px;
    }

    background-color: $left-tool-backgroundcolor;
    .x-button .x-inner-el{
        background-color: $left-tool-backgroundcolor;
        border: 0;
    }

    .x-body-el{
        background: $left-tool-backgroundcolor;
    }

    @include button-ui(
        $ui: 'leftTool-ui',
        $hovered-background-color: $left-tool-backgroundcolor,
        $pressed-background-color: $left-tool-backgroundcolor,
        // $icon-color: red,
        $hovered-icon-color: #cccfe9,
        $background-color: $left-tool-backgroundcolor
    );

    .x-tabbar-body-el{
        padding: 0px 3px;
    }

    // button的menu小角隐藏
    .x-button.x-has-arrow .x-arrow-el, .x-button.x-has-menu:not(.x-no-arrow) .x-arrow-el {
        display: none;
    }

    @include tab-ui(
        $ui: 'leftToolBar-ui',
        $background-color: $left-tool-backgroundcolor,
        $hovered-background-color: $left-tool-backgroundcolor,
        $pressed-background-color: $left-tool-backgroundcolor,
        $hovered-icon-color: #cccfe9,
        $active-icon-color: #cccfe9
    )
}