.emj-carousel-item
{
    //font-family: Segoe UI Emoji, Segoe UI Symbol;
    color: #F47C12;
    
    font-size: 1.4em;
    padding-bottom: 18px;
    
	.x-innerhtml
	{
		height:100%
	}
	
	table td
	{
		text-align:center;
		
		&.backspace:before {
			font-family: 'im-mobile';
			content: $im-mobile-var-backspace; //'\e900';
			color: #888;
		}
	}
}