.right_panel {
    .right-title{
        height: 47px;
        border-bottom:1px solid #d6d6d6; 

        .titleNoDrag{
            -webkit-app-region: no-drag;
        }

        .addMem{
            float: right;
            background-image: $right-addMem-image;
            background-position: left;
            width: 40px;
            height: 40px;
            background-size: 40px;
            background-repeat: no-repeat;
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .x-listitem{
        border:0;
    }

    // @include field-ui(
    //     $ui: 'rightTitle',
    //     $textfield-input-font-size: 20,
    //     $textfield-input-font-weight: 'bold',
    //     $background-color: #2358
    // );

    .rightTitle {
       &> .x-body-wrap-el {
            .x-input-el {
                font-size: 20px;
                font-weight: bold;
            }
       }
    }
}