
.r-at.r-atU
{
    color: #346DAD;
}
.r-at.r-atO
{
    color: #01BAAC;
}
.r-at.r-atD
{
    color: #AE2A4C;
}
.r-at.r-atR
{
    color: #8E00FF;
}
.r-at.r-atG
{
    color: #000;
}
.r-at.highlight
{
    background-color: #CEDFF5;
}
.r-at-type
{
    display:none;
}
.r-reply:hover {
    color: #eb7350;
}

