.baseBackColor{
    background-color: rgb(242,243,245);

    // 防止冲突
    .arrButton {
        background: white;
        margin: 1px;

        // 充满div
        .x-body-el {
            width: 100%;

            // 充满div
            .x-text-el {
                width: 100%;

                // 箭头
                .arrow {
                    border-right: 1px solid;
                    border-bottom: 1px solid;
                    width: 10px;
                    height: 10px;
                    transform: rotate(-45deg);
                    float: right;
                    margin-right: 0.4em;
                    margin-top: 4px;
                }    
                
            }
        }
    }

    // 防止冲突
    .bigButton {
        background: white;
        margin: 1px;

        // 充满div
        .x-body-el {
            width: 100%;

            // 充满div
            .x-text-el {
                width: 100%;

                .wrapper {
                    .avatarPic {
                        background-image: url(get-resource-path('images/LOGO1.png'));
                        background-repeat: no-repeat;
                        background-size: 55px;
                        width: 55px;
                        height: 55px;
                        float: right;
                    }
                    .componentText {
                        height: 55px;
                    }
                    .jobText {
                        margin: 0;
                        font-size: 10px;
                        color: rgb(187, 195, 195);
                    }
                }
            }
        }
    }
}