//# fashion warn -elevation

// Variables
// --------------------------

$i-common-font-path: get-resource-path('fonts');
$i-common-font-size-base:   14px !default;
$i-common-css-prefix:       i-common !default;
$i-common-version:          "1.0.1" !default;

$i-common-var-image: "\e900";
$i-common-var-tg: "\e901";
$i-common-var-number: "\e902";