//# fashion warn -elevation

// Variables
// --------------------------

$i-im-css-prefix:       i-im !default;
$i-im-version:          "1.0.0.107" !default;

$i-im-var-maxmin: "\e902";
$i-im-var-min: "\e903";
$i-im-var-close: "\e900";
$i-im-var-addmem: "\e901";