$auth-background-image: url(get-resource-path('images/2.png'));
$right-addMem-image: url(get-resource-path('images/add-members.png'));
$left-tab-backgroundcolor: rgb(225,230,235);// #2e3238;
$left-tab-list: #79beed;
$left-tab-hover-list: rgb(182, 211, 230);
$left-tab-color: black;

// 右击弹出的菜单，若没有iconCls，重置其宽度
.x-menu-body-el > .x-menuitem .x-icon-wrap-el { width:7px; }

.imitateBrowse {
    -webkit-app-region: drag;
}

.left_panel{
    // 个人信息区
    .x-button{
        color: $left-tab-color;
    }
    .x-button .x-inner-el{
        background-color: $left-tab-backgroundcolor;
        border: 0;
    }
    .x-formpanel-body-el{
        background-color: $left-tab-backgroundcolor;
    }

    // 搜索框
    .x-form-fieldset .x-form-fieldset-body-el {
        border: 0;
    }


    @include tabbar-ui(
        $ui: 'tab',
        $background-color: $left-tab-backgroundcolor
    );
    .x-listitem{
        border:0;
    }

    background-color: $left-tab-backgroundcolor;
    border-right: 1px solid #4f5969;
    .mine-avatar{
        &>.x-inner-el{
            &>.x-body-el{
                width: 100%;
                display: block;
            }
        }
    }

    // 搜索框
    .x-form-fieldset{
        margin: 0;
    }

    .left_tab{
        .logo{
            float: left;
            background-image: url(get-resource-path('images/LOGO1.png'));
            width: 20px;
            height: 20px;
            background-size: 15px;
            background-repeat: no-repeat;
        }

        a.link-RecentUnRead{
            text-decoration: none;
        }

        .RecentUnRead{
            display: none;
            -webkit-border-radius: 20%;
            -moz-border-radius: 20%;
            -ms-border-radius: 20%;
            -o-border-radius: 20%;
            border-radius: 20%;
            position: absolute;
            text-align: center;
            // color: #fff;
            overflow: hidden;
            height: 20px;
            width: 20px;
            line-height: 20px;
            background-color: #bd4107;
            top: 3px;
            left: 35px;
            font-family: cursive;
            color: #fff;
        }
        .RecentUnRead:before{
            content: attr(unRead);
            font-size: 10px;
        }

        .unRead{
            display: block;
            float: right;
            background-image: url(get-resource-path('images/notify.png'));
            width: 20px;
            height: 20px;
            background-size: 15px;
            background-repeat: no-repeat;
            // margin-left: 160px;
        }
        background-color: $left-tab-backgroundcolor;
        .x-listitem{
            //color: #ffffff;
            background-color: $left-tab-backgroundcolor;

            &.x-hovered {
                background-color: $left-tab-hover-list;
            }

            &.x-selected {
                background-color: $left-tab-list;
            }
        }

        // grid的hideHeaders无效，在此将其隐藏
        .x-container.x-component.x-headercontainer.x-headercontainer-.x-dock-item.x-docked-top{
            .x-header-el{
                display: none;
            }
        }
    }

    .left_bar{
        .x-toolbar{
            background: $left-tab-backgroundcolor;
            border-top: 1px solid #585b60;
        }
    }

    // button的menu小角
    .x-button.x-has-arrow .x-arrow-el, .x-button.x-has-menu:not(.x-no-arrow) .x-arrow-el {
        display: none;
    }
}

.right_panel{

    .evAvatar{
        float: left;
    }

    .bubble {
        background-color: #b2e281;
        max-width: 500px;
        // min-height: 1em;
        // min-height: 60px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        text-align: left;
        font-size: 14px;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        margin: 0 10px;

        .plain{
            padding: 9px 13px;
            .viewPic{
                cursor: pointer;
                // width:80px;
                // height:80px;
            }
        }
    }
    .bubble:after, .bubble:before {
        position: absolute;
        top: 14px;
        border: 6px solid transparent;
    }
    .bubble.right:after, .bubble.right:before {
        left: 100%;
    }
    .bubble.bubble_primary.right:after {
        border-left-color: #b2e281;
        border-left-width: 4px;
    }



    .logo1{
        // float: left;
        // background-image: url(get-resource-path('images/LOGO1.png'));
        width: 40px;
        height: 40px;
        background-size: 40px;
        background-repeat: no-repeat;
        margin-right:5px;
    }
    // border: 1px solid #d6d6d6;
    .x-dataview-item {
        // width: 6.4rem;
        // border: solid 1px transparent;
        padding: .3rem .5rem .2rem;
        // margin: 2px;
        // border: 1px solid #d6d6d6;
        border-top: none;

        &.x-hovered {
            background-color: mix(#fff, $base-light-color, 60%);
            .preview {
                display: block;
            }
            .preview + .size {
                display: none;
            }
        }
        &.x-selected {
            background-color: $base-light-color;
            border-color: $base-color;
        }
    }

    // 输入框
    .x-textfield .x-input-wrap-el {
        border: 0;
    }

    // 发送按钮
    .x-button .x-inner-el {
        padding: 8px;
        border: 0;
        background-color: white;
        background-image: none;
    }

    .editor-Ct {
        &>.x-body-el{
            &>.rich-editor-Ct{
                flex: 1 1 0%;
                display: flex;
                height: 100%;
                width: 100%;
                padding-top: 33px;
                position: absolute;
            }
        }
        &>.x-innerhtml {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &>.simditor {
                height: 100%;
                border: 0;

                &>.simditor-wrapper {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    &>.simditor-body {
                        min-height: 20px;
                        flex:1 0 0;
                        overflow: auto;
                    }

                    &>.simditor-body img[data-emoji]{
                        width: 26px;
                        height: 20px;
                    }

                    &>.simditor-placeholder {
                        top: 41px;
                    }
                }
            }
        }

        .simditor-toolbar{
            border-bottom: 1px solid #d6d6d6;
        }
    }

}


.imitateBrowse{
    -webkit-app-region: drag;
}

.imitateLeftTitle{
    background: #286dc7;
}

.imitateMidTitle{
    background: #e1e6eb;
}